In [21]:
import pandas as pd
import numpy as np

In [22]:
train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')
gender_data = pd.read_csv('data/gender_submission.csv')

In [23]:
train_data.head(100)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S

In [31]:
adult = train_data.loc[train_data.Age >= 18]
child = train_data.loc[train_data.Age < 18]

In [ ]:
child_survived.value_counts()

In [25]:
first_class = train_data.loc[train_data.Pclass == 1]['Survived']
second_class = train_data.loc[train_data.Pclass == 2]['Survived']
third_class = train_data.loc[train_data.Pclass == 3]['Survived']

print('Percent of First Class Passengers Who Survived:', (sum(first_class)/len(first_class))*100)
print('Percent of Second Class Passengers Who Survived:', (sum(second_class)/len(second_class))*100)
print('Percent of Third Class Passengers Who Survived:', (sum(third_class)/len(third_class))*100)

Percent of First Class Passengers Who Survived: 62.96296296296296
Percent of Second Class Passengers Who Survived: 47.28260869565217
Percent of Third Class Passengers Who Survived: 24.236252545824847

In [26]:
men = train_data.loc[train_data.Sex == 'male']['Survived']
women = train_data.loc[train_data.Sex == 'female']['Survived']
men_survived = (sum(men)/len(men))*100
women_survived = (sum(women)/len(women))*100

print('Percent of Men Who Survived:', men_survived)
print('Percent of Women Who Survived:', women_survived)

Percent of Men Who Survived: 18.890814558058924
Percent of Women Who Survived: 74.20382165605095

In [27]:
from sklearn.ensemble import RandomForestClassifier

y = train_data['Survived']

features = ['Pclass', 'Sex', 'SibSp', 'Parch']
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('my_submission.csv', index=False)
print('Your Prediction Was Successfully Saved')

Your Prediction Was Successfully Saved